.inner{
	padding-top:200px;
}
.white{
	color:white;
}
.no-margin{
	margin:0;
	padding:0;
}

body {
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}


body{
	font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',YuGothic,'Yu Gothic',sans-serif;
	background-color:#5f9ea0;
}
header{
	background:url("img/header.jpg") no-repeat center center;
	background-size:cover;
}
.name{
	font-size:40px;
	color: #7fff7f;
}
.fa-frog{
	font-size: 30px;
	color:aquamarine;
}
.sub{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-bottom: 200px;
	margin-top:0;
	color:#ffffff;
}
img{
	width:100%;
}
.intro{
	padding-top: 20px;
	padding-left: 15px;
	padding-right:15px;
}
footer{
	margin-top:50px;
	margin-bottom:20px;
	text-align: center;
}
i{
	font-size:20px;
}
li{
	text-align: -webkit-match-parent;
}
ul{
	list-style: none;
}
.copy{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size:10px;
	text-align: center;
}
figure {
  background: #1abc9c;
}
.pic img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.pic:hover img {
  opacity: .5;
}
#introduction{
	position:relative;
}
.pic{
	position: relative;
}
.title{
	position: absolute;
	color: white;
	font-size:30px;
	top: 50%;
	left:50%;
	-ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
	opacity:		0;
}
.pic:hover .title{
	opacity:1;
}