.inner{
	padding-top:200px;
}
.white{
	color:white;
}
.no-margin{
	margin:0;
	padding:0;
}

body {
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}


body{
	font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',YuGothic,'Yu Gothic',sans-serif;
	background-color:#5f9ea0;
}
header{
	background:url("img/header.jpg") no-repeat center center;
	background-size:cover;
}
footer{
	margin-top:50px;
	margin-bottom:20px;
	text-align: center;
}
i{
	font-size:20px;
}
li{
	text-align: -webkit-match-parent;
}
ul{
	list-style: none;
}
.copy{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size:10px;
	text-align: center;
}

.container{
	background:rgba(255,255,255,0.5);
	padding-top: 20px;
	padding-bottom: 20px;
	
}
.photograph{
	padding-right:15px;
	padding-left: 15px;
	text-align: center;
	background:url("img/photograph.jpg");
	background-size: cover;
	padding-top:20px;
	padding-bottom:20px;
}
.icon{
	text-align: center;
}
.icon img{
	width:70px;
}
.name{
	color:;
}
.sumnail{
	width:100%;
	margin:0;
	padding:0;
	
}
